#remove bin files (all things within /library/uploads/* are .bin files)
*.bin

#wl depdendencies
!/library/dependencies

# HTML Purifier decided it wanted to cache in our vendor directory.. neat
/library/dependencies/htmlpurifier/HTMLPurifier/DefinitionCache/Serializer/HTML/*
/library/dependencies/htmlpurifier/HTMLPurifier/DefinitionCache/Serializer/URI/*

/config.php
/errors/*-*.txt
/errors/*-*.txt
/logs/*.log
